{% extends '@biopama_libraries/biopama-dashboard-menu.html.twig' %}

{% set menu_name = "PAGE" %}
{% set dashboard_url = "/page" %}

{% block left_menu %}
<div class="contextual-region">
	{{ drupal_contextual_links('entity.view.edit_form:view=biopama_page_module&display_id=left_menu:') }}
	{{ drupal_view('biopama_page_module', 'left_menu') }}
</div>
{% endblock %}