{% extends '@biopama_libraries/biopama-dashboard-page.html.twig' %}

{% block dashboard_menu %}
	{{ attach_library( 'biopama_page/main' ) }}
	{% include 'page-assessments-menu.html.twig' %}
{% endblock %}

{% block dashboard_content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				{% if user.hasPermission('administer nodes') %}
				<a href="/node/add/gd_page_assessment" class="use-ajax add-policy fancy_login_show_popup btn btn-primary assessment-table-tool-button" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}" style="display: none;">
					<i class="fas fa-plus"></i> Add a PAGE assessment
				</a>
				{% endif %}
				<div id="data_source" class="text-left" style="margin: 12px 0;">
					Data Source: <a target="_blank" onclick="window.scrollTo(0, document.body.scrollHeight); return false;">See Source field in table below map</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-6 col-xxl-8">
				<div class="row opacity-75 m-0 p-3">
					<div class="col-12">
						<div id="stats-total-assessments-count-acp" class="col-12 text-align-center "></div>
					</div>
					<div class="col-12">
					{% include '@biopama_libraries/filter.html.twig' %}
					</div>
				</div>
				<div class="row">
					<div class="col mb-2 ">
					{% include '@biopama_libraries/map.html.twig' %}
					</div>
				</div>
				<div class="row">
					<div class="col">
					{% include '@biopama_libraries/table.html.twig' %}
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-12 col-xl-6 col-xxl-4 text-align-center">
				<div class="p-3 mb-2 card opacity-75 rounded-0">
					<div class="" id="stats-assessments-count-by-region"></div>
				</div>
				<div class="p-3 mb-2 card opacity-75 rounded-0">
					<div class="" id="stats-assessments-count-by-country"></div>
				</div>
				<div class="p-3 mb-2 card opacity-75 rounded-0">
					<div class="" id="stats-assessments-count-by-year"></div>
				</div>
				<div class="p-3 mb-2 card opacity-75 rounded-0">
					<div class="" id="stats-assessments-count-by-methodology"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}