 {#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.

This card requires the following to operate correctly:
Variables:
title: obvious
sub_title: obvious
edit_url: path back to the dashboard mainpage
blocks:
body: the intro node body text

 */
#}

{% extends '@biopama_libraries/biopama-dashboard-page-intro-node.html.twig' %}

{% set title = fields.title.content %}
{% set sub_title = fields.field_dashboard_subtitle.content %}
{% set edit_url = fields.edit_node.content %}

{% block body %}
    {{ fields.body.content }}
{% endblock %}
